<div>
	<h2 class="user_title">Author</h2>
	<table class="table user_table">
	<%= render "albums/author_contact_info" %> 
	<% @author['company'].each{|company_info| %>
 		<tr>
			<td>company <%= company_info[0] %></td><td><%= company_info[1] %></td>
		</tr>
	<% } %>
	</table>
</div>
<div>
	<h2 class="user_title">Albums</h2>
	<%= render "users/author_albums" %> 
</div>