<h2 class="user_title">Author</h2>
<div>
	<table class="table user_table">
<%= render "albums/author_contact_info" %> 
	</table>
</div>
<h2 class="user_title">Photos</h2>
<%= render "albums/photo_list" %> 